<div class="col-xs-offset-0 col-xs-12">
  <h2 class="users">Users</h2>
</div>
<div name="create" class="form-horizontal create" ng-submit="createUser()" novalidate>
  <div class="col-xs-offset-4 col-xs-8">
    <a href="#/create" class="btn btn-primary create-button" role="button">Create</a>
  </div>
</div>


<table class="table table-striped userlist">
  <tbody>
  <tr>
    <td class="col-md-2"></td>
    <td class="col-md-2">ID</td>
    <td class="col-md-2">Email</td>
    <td class="col-md-2">Name</td>
    <td class="col-md-2">Date of Birth</td>
    <td class="col-md-1"></td>
    <td class="col-md-1"></td>
  </tr>
  <tr class="hover-magic" ng-repeat="user in vm.users" ng-hide="vm.userFactory.id == user.id">
    <td class="col-md-2">
    <td class="col-md-2">
      {{user.id}}
    </td>
    <td class="col-md-2">
      {{user.email}}
    </td>
    <td class="col-md-2">
      {{user.name}}
    </td>
    <td class="col-md-2" ng-bind="vm.moment(user.dateOfBirth).format('MM-DD-YYYY')">
  </td>
    <td class="col-md-1 edit">
      <a class="edit btn btn-default" ng-href="/#/{{user.id}}">
        <div class="edit-email"><span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></div>
      </a>
      <button class="delete" ng-click="vm.open(user, $index)">
        <div class="delete-email"><span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span></div>
      </button>
    </td>
    <td class="col-md-1">
  </tr>
  </tbody>
</table>