<form name="createUser" class="form-horizontal" ng-controller="CreateController" ng-submit="submitForm(user, createUser)" novalidate>
    <div class="col-xs-offset-4 col-xs-8">
        <h2>Create</h2>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : createUser.email.$invalid && (!createUser.email.$pristine || createUser.$submitted) }">
        <label class="control-label col-xs-4" for="inputEmail">Email:</label>
        <div class="col-xs-4">
            <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="user.email" required>
            <p ng-show="createUser.email.$invalid && (!createUser.email.$pristine || createUser.$submitted)" class="help-block">Enter a valid email.</p>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : createUser.name.$invalid && (!createUser.name.$pristine || createUser.$submitted) }">
        <label class="control-label col-xs-4" for="firstName">Name:</label>
        <div class="col-xs-4">
            <input type="text" name="name" class="form-control" id="firstName" placeholder="Enter your name" ng-model="user.name" required>
            <p ng-show="createUser.name.$invalid && (!createUser.name.$pristine || createUser.$submitted)" class="help-block">You name is required.</p>
        </div>
    </div>

    <div class="form-group date-of-birth">
        <label class="control-label col-xs-4">Date Of Birth :</label>
        <div class="col-xs-4" ng-class="{ 'has-error' : createUser.dateOfBirth.$invalid && (!createUser.dateOfBirth.$pristine || createUser.$submitted) }">
            <p class="input-group">
                <input type="text" name="dateOfBirth" class="form-control" uib-datepicker-popup="{{format}}" ng-model="user.dateOfBirth" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </p>
        </div>
    </div>

    <br />
    <div class="form-group sign-up">
        <div class="col-xs-offset-5 col-xs-7">
            <input type="submit" class="btn btn-primary" value="Create">
        </div>
    </div>
</form>