<form name="userForm" class="form-horizontal" ng-controller="SignupController" ng-submit="submitForm(user, userForm)" novalidate>
    <div class="col-xs-offset-4 col-xs-8">
        <h2>Sign Up</h2>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && (!userForm.email.$pristine || userForm.$submitted) }">
        <label class="control-label col-xs-4" for="inputEmail">Email:</label>
        <div class="col-xs-4">
            <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email" ng-model="user.email" required>
            <p ng-show="userForm.email.$invalid && (!userForm.email.$pristine || userForm.$submitted)" class="help-block">Enter a valid email.</p>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && (!userForm.name.$pristine || userForm.$submitted) }">
        <label class="control-label col-xs-4" for="firstName">Name:</label>
        <div class="col-xs-4">
            <input type="text" name="name" class="form-control" id="firstName" placeholder="Enter your name" ng-model="user.name" required>
            <p ng-show="userForm.name.$invalid && (!userForm.name.$pristine || userForm.$submitted)" class="help-block">You name is required.</p>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : userForm.passwordConfirm.$invalid && (!userForm.passwordConfirm.$pristine || userForm.$submitted) }">
        <label class="control-label col-xs-4" for="inputPassword">Password:</label>
        <div class="col-xs-4">
            <input type="password" name="password" class="form-control" id="inputPassword" ng-model="user.password" placeholder="Enter the password">
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : userForm.passwordConfirm.$invalid && (!userForm.passwordConfirm.$pristine || userForm.$submitted) }">
        <label class="control-label col-xs-4" for="confirmPassword">Confirm Password:</label>
        <div class="col-xs-4">
            <input type="password" name="passwordConfirm" ng-model="user.passwordConfirm" class="form-control" id="confirmPassword" placeholder="Confirm the password" required compare-to="user.password">
            <p ng-show="userForm.passwordConfirm.$invalid && (!userForm.passwordConfirm.$pristine || userForm.$submitted)" class="help-block">Passwords don't match.</p>
        </div>
    </div>

    <div class="form-group date-of-birth" ng-class="{ 'has-error' : userForm.dateOfBirth.$invalid && (!userForm.dateOfBirth.$pristine || userForm.$submitted) }">
        <label class="control-label col-xs-4">Date Of Birth :</label>
        <div class="col-xs-4">
            <p class="input-group">
                <input type="text" name="dateOfBirth" class="form-control" uib-datepicker-popup="{{format}}" ng-model="user.dateOfBirth" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
            </p>
        </div>
    </div>

    <br />
    <div class="form-group sign-up">
        <div class="col-xs-offset-5 col-xs-7">
            <input type="submit" class="btn btn-primary" value="Sign Up">
        </div>
    </div>
</form>